kicad/baseboard/~*.lck
kicad/baseboard/*-backups/
kicad/baseboard/fp-info-cache
kicad/baseboard/production/backups/
kicad/baseboard/x/fp-info-cache
kicad/baseboard/x/*-backups/
src/pi/.lgd-*
src/pi/__pycache__/
src/pi/**/*.pyc
src/pi/capture/
src/pi/capture - Kopie/
src/pi/logs/
logs/

# PlatformIO
src/stm32/.pio/
src/stm32/.pioenvs/
src/stm32/.piolibdeps/
src/stm32/.vscode/launch.json
src/stm32/.vscode/c_cpp_properties.json
*.jpg
src/pi/autolog.txt
.vscode/settings.json
src/pi/.vscode/settings.json
