kicad/baseboard/~*.lck
kicad/baseboard/*-backups/
kicad/baseboard/fp-info-cache
kicad/baseboard/production/backups/
kicad/baseboard/x/fp-info-cache
kicad/baseboard/x/*-backups/
src/pi/.lgd-*
src/pi/__pycache__/
src/pi/**/*.pyc
src/pi/capture/
src/pi/capture - Kopie/
src/pi/logs/
