kicad/baseboard/~*.lck
kicad/baseboard/*-backups/
kicad/baseboard/fp-info-cache
kicad/baseboard/production/backups/
kicad/baseboard/x/fp-info-cache
kicad/baseboard/x/*-backups/
src/pi/.lgd-*
src/pi/__pycache__/
src/pi/**/*.pyc
src/pi/capture/
src/pi/capture - Kopie/
src/pi/logs/
logs/

# PlatformIO
src/stm32/.pio/
src/stm32/.pioenvs/
src/stm32/.piolibdeps/
src/stm32/.vscode/launch.json
src/stm32/.vscode/c_cpp_properties.json
src/pi/autolog.txt
.vscode/settings.json
src/pi/.vscode/settings.json
src/pi/capture10/1-0baseImage.jpg
src/pi/capture10/1-0hsv.jpg
src/pi/capture10/1-1imageRegion.jpg
src/pi/capture10/1-2imgRed.jpg
src/pi/capture10/1-3imgGreen.jpg
src/pi/capture10/1-4detection_result.jpg
src/pi/capture10/2-0baseImage.jpg
src/pi/capture2/1-0baseImage.jpg
src/pi/capture2/1-0hsv.jpg
src/pi/capture2/1-1imageRegion.jpg
src/pi/capture2/1-2imgRed.jpg
src/pi/capture2/1-3imgGreen.jpg
src/pi/capture2/1-4detection_result.jpg
src/pi/capture3/1-0baseImage.jpg
src/pi/capture3/1-0hsv.jpg
src/pi/capture3/1-1imageRegion.jpg
src/pi/capture3/1-2imgRed.jpg
src/pi/capture3/1-3imgGreen.jpg
src/pi/capture3/1-4detection_result.jpg
src/pi/capture4/1-0baseImage.jpg
src/pi/capture4/1-0hsv.jpg
src/pi/capture4/1-1imageRegion.jpg
src/pi/capture4/1-2imgRed.jpg
src/pi/capture4/1-3imgGreen.jpg
src/pi/capture4/1-4detection_result.jpg
src/pi/capture5/1-0baseImage.jpg
src/pi/capture5/1-0hsv.jpg
src/pi/capture5/1-1imageRegion.jpg
src/pi/capture5/1-2imgRed.jpg
src/pi/capture5/1-3imgGreen.jpg
src/pi/capture5/1-4detection_result.jpg
src/pi/capture6/1-4detection_result.jpg
src/pi/capture7/1-0baseImage.jpg
src/pi/capture7/1-0hsv.jpg
src/pi/capture7/1-1imageRegion.jpg
src/pi/capture7/1-2imgRed.jpg
src/pi/capture7/1-3imgGreen.jpg
src/pi/capture7/1-4detection_result.jpg
src/pi/capture8/1-0baseImage.jpg
src/pi/capture8/1-0hsv.jpg
src/pi/capture8/1-1imageRegion.jpg
src/pi/capture8/1-2imgRed.jpg
src/pi/capture8/1-3imgGreen.jpg
src/pi/capture8/1-4detection_result.jpg
src/pi/capture9/1-0baseImage.jpg
src/pi/capture9/1-0hsv.jpg
src/pi/capture9/1-1imageRegion.jpg
src/pi/capture9/1-2imgRed.jpg
src/pi/capture9/1-3imgGreen.jpg
src/pi/capture9/1-4detection_result.jpg
src/pi/capture9/2-0baseImage.jpg
src/pi/captureStore/1-0baseImage.jpg
src/pi/.goutputstream-7PF5Q3
src/pi/.goutputstream-A9K7Q3
src/pi/.goutputstream-YTG3Q3
